.autocomplete {
    position: relative;
}
.autocomplete__input {
    font: 14px "Segoe UI";
    color: #404040;
    line-height: 20px;
    padding: 5px 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.autocomplete__input:focus {
    border: 1px solid #5199db;
}
.autocomplete__results {
    position: absolute;
    z-index: 1;
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
    font: 14px "Segoe UI";
    color: #404040;
    line-height: 20px;
    max-height: 350px;
    overflow: auto;
}
.autocomplete__item {
    padding: 5px 5px;
    cursor: pointer;
}
.autocomplete__item:hover, .autocomplete__item.is-active {
    background: #5199db;
    color: #fff;
}
.autocomplete__empty {
    padding: 5px 5px;
    color: #ccc;
    cursor: default;
}
